{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block title %}enjoy01 moderate_comment{% endblock %}
{% block page_content %}

{% if comments %}
<h3 id="comments">Comments</h3>
{% endif %}

{% set moderate=True %}
{% include '_comments.html' %}

{% if pagination %}
    <div class="pagination">
            {{ macros.pagination_widget(pagination,'.moderate_comment',) }}
    </div>
{% endif %}
{% endblock %}
