{% extends "base.html" %}
{% block title %}enjoy01 - userinfo{% endblock %}
{% block page_content %}
<div class="page-header">
        <img class="img-rounded" src="{{ user.image_url() }}"  height="100" width="100">
        {% if user == current_user %}
        <h2> {{ user.username }} <a href="{{ url_for('auth.change_password') }}">修改密码</a></h2>
        <h3>邮件:    {{ user.email }}  <a href="{{ url_for('auth.change_email_request') }}">修改邮件</a></h3>
        {% else %}
        <h2> {{ user.username }}</h2>
        {% endif %}
        {% if user.location %}
        <h3>坐标:    {{ user.location }}</h3>
        {% endif %}
        {% if user.about %}
        <h3>自我介绍:{{ user.about }}</h3>
        {% endif %}
        {% if user == current_user %}
            {% if not user.location or not user.about %}
                <a href="{{ url_for('main.edit_profile') }}">添加信息</a>
            {% else %}
                <a href="{{ url_for('main.edit_profile') }}">修改信息</a>
            {% endif %}
        {% endif %}
        <h4>注册时间:{{ user.register_date }}</h4>

        {% if current_user.check_permission(Permission.FOLLOW) and user != current_user %}
            {% if not current_user.is_following(user) %}
            <a href="{{ url_for('.follow', username=user.username) }}"
                class="btn btn-primary">关注</a>
            {% else %}
            <a href="{{ url_for('.unfollow', username=user.username) }}"
                class="btn btn-default">取消关注</a>
            {% endif %}
        {% endif %}

        <a href="{{ url_for('.followers', username=user.username) }}">
            被关注: <span class="badge">{{ user.followers.count() }}</span>
        </a>

        <a href="{{ url_for('.followed_by', username=user.username) }}">
            关注: <span class="badge">{{ user.followed.count() }}</span>
        </a>

        {% if current_user.is_authenticated and user != current_user and
        user.is_following(current_user) %}
            | <span class="label label-default">{{ user.username }} 关注了你哦！！！</span>
        {% endif %}
</dev>
<h3>Posts by {{ user.username }}</h3>
{% include '_posts.html' %}
{% endblock %}
